<p>Añadir comentario: </p>

<form method="post" action="/quizes/<%= quizid %>/comments/" >
    <input type="text" name="comment[texto]" id="comment" value="">
    <button type="submit">Enviar</button>
</form>
