<form class="" action="/quizes/answer" method="get">
    Pregunta : <%= pregunta %>
    <p>
        <input type="text" name="respuesta" value="" placeholder="Responda aquí">
        <input type="submit" value="Enviar">
    </p>
</form>