<form class="" action="/quizes/<%= quiz.id %>/answer" method="get">
    Pregunta : <%= quiz.pregunta %>
    <p>
        <input type="text" name="respuesta" value="" placeholder="Responda aquí">
        <input type="submit" value="Enviar">
    </p>
</form>